.icon-left {
	position: absolute;
	top: 10px;
	left: 10px;
}
.icon-right {
	position: absolute;
	bottom: 10px;
	right: 10px; 
}
.season-disp.Winter i {
	color: blue;
}
.season-disp.Summer i {
	color: red;
}
.season-disp {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.Winter {
	background-color: aliceblue;
}
.Summer {
	background-color: orange;
}